@import "../theme/theme";

.ListView > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 100%));
    grid-gap: .2rem;
    justify-content: flex-start;
    align-items: left;
    padding: 0px 0px;

    Link {
        text-decoration: none;
        color: white;
        border-radius: .25rem;
        text-align: center;
        display: inline-block;
        transition: all .3s;
    }

    Link:hover {
        opacity: .6;
    }
}

.ListView > ul > li {
    padding: 0px 0px;

    background: $primary;

    box-shadow: 0px -2px 15px rgba(50, 50, 50, 0.45);
}

.ListView > ul > li > h3 {
    font-family: $core-font;
    padding: 0px 5px;
    font-size: 20px;
    color: $on-primary;
}